@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .mouse {
        position: fixed;
        z-index: 50;
        top: -15rem;
        left: -15rem;
        padding: 15rem;
        opacity: .03;
        background: radial-gradient(#ea580c, transparent 60%);
        pointer-events: none;
    }

    .scheme-dark {
        color-scheme: dark;
    }
}